doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    title Déconnexion
    link(rel='stylesheet', href='/stylesheets/style.css') 
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      h1 {
        margin-bottom: 20px;
        color: #333;
      }
      p {
        margin-bottom: 20px;
      }
      a {
        color: #5cb85c;
        text-decoration: none;
        font-weight: bold;
      }
  body
    h1 Déconnexion réussie
    p Vous avez été déconnecté avec succès.
    a(href="/users/login") Retourner à la page de connexion
